@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #f4f4f4;
}

.wrapper {
  max-width: 1200px !important;
  margin: 0 auto;
  
}

.gradient-bg {
  background-image: linear-gradient(180deg,#f4f4f4 19%,#b3afff 100%)!important;
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(7px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}